@import "tailwindcss";

.flex-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.flex-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.flex-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.flex-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.flex-container {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.switch:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
